page-home {

}
.grey {
  color: #8c8c8c;
}
.signin {
  width: 80%;
  height: 7%;
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 10%
}
.green-highlight {
  color: #36802d;
  font-weight: bold;
}
